.atari-wrapper {
  position: absolute;
  box-sizing: border-box;

  .atari {
    position: absolute;
    box-sizing: border-box;
    border: 2px solid black;
  }

  .atari:not(.hit) {
    animation: appears 2s linear 1;
  }

  .hit {
    opacity: 0;
  }
}

@keyframes appears {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
