:root {
  --pointwid: 2rem;
}

// to sync with svg circle.vert position
// refer to scrollhidden
.point {
  transition-delay: var(--scrolldelay);
  transition-duration: var(--scrolldur);
  transition-property: top;
  transition-timing-function: ease-out;

  position: relative;
  width: var(--pointwid);
  aspect-ratio: 1/1;
  margin: var(--pad);

  top: calc(-1 * var(--scrollpop));
}

.scrollhidden .point {
  top: calc(-1 * var(--scrollpop));
}

.scrollhidden.scrollshown .point {
  top: 0;
}

circle {
  &.backvert {
    fill: var(--bkg);
    stroke: none;
  }
  &.vert {
    fill: transparent;
    stroke: var(--clr0);
    stroke-width: 2;
  }
  &.insidevert {
    fill: var(--clr1);
    stroke: none;
  }
}

path.bezier {
  stroke: var(--clr1);
  stroke-width: 3;
  fill: none;

  stroke-dasharray: 0 100;

  animation: expand-path 30s ease 0s infinite forwards;
}

@keyframes expand-path {
  0% {
    stroke-dasharray: 0 100;
    stroke-dashoffset: 100;
  }
  80% {
    stroke-dasharray: 100 0;
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dasharray: 0 100;
    stroke-dashoffset: 0;
  }
}
