$clr0: rgb(31, 184, 171);

:root {
  --clr0: #{$clr0};
  --clr1: rgba(24, 223, 207, 0.3);
  --bkg: white;
  --color: black;
  --mid0: gray;
  --mid1: lightgray;
  --mid2: #eee;
  --mid2shadow: #00000016;
  --bdr: 0.1rem solid var(--mid0);
  --pad: 0.4rem;
  --rad: 0.4rem;
  --dur: 0.2s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bkg: black;
    // --clr1: rgb(3, 69, 64);
    --color: white;
    --mid0: darkgray;
    --mid1: rgb(91, 91, 91);
    --mid2: rgb(38, 38, 38);
    --mid2shadow: #ffffff33;
  }
}

body {
  background-color: var(--bkg);
  color: var(--color);
  font-family: sans-serif;

  margin: 0;
  padding: 0;
}

.hide {
  width: 0px;
  height: 0px;

  position: absolute;
  top: 0px;
  left: 0px;
}

@mixin border-rad-box {
  border: var(--bdr);
  border-radius: var(--rad);
  padding: var(--pad);
  background-color: var(--bkg);
}

@mixin transits {
  transition-duration: var(--dur);
  transition-timing-function: ease-out;
}

@mixin boxshadows {
  box-shadow: 0 var(--pad) var(--pad) 0 var(--mid2shadow);
}

@mixin boxshadows-push {
  margin-top: calc(var(--pad) + 2px);
  margin-bottom: calc(var(--pad) - 2px);
  box-shadow: 0px 1px 4px 0px var(--mid2shadow);
}
