:root {
  --clr0: rgb(31, 184, 171);
  --clr1: rgb(5, 154, 141);
  --bkg: white;
  --color: black;
  --mid0: gray;
  --mid1: lightgray;
  --mid2: #eee;
  --bdr: 0.1rem solid var(--mid0);
  --pad: 0.4rem;
  --rad: 0.4rem;
  --dur: 0.2s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bkg: black;
    --color: white;
    --mid0: darkgray;
    --mid1: rgb(91, 91, 91);
    --mid2: rgb(38, 38, 38);
  }
}

body {
  background-color: var(--bkg);
  color: var(--color);
  font-family: sans-serif;
}

.hide {
  width: 0px;
  height: 0px;

  position: absolute;
  top: 0px;
  left: 0px;
}

@mixin border-rad-box {
  border: var(--bdr);
  border-radius: var(--rad);
  padding: var(--pad);
  background-color: var(--bkg);
}

@mixin transits {
  transition-duration: var(--dur);
  transition-timing-function: ease-out;
}

@mixin boxshadows {
  box-shadow: 0 var(--pad) var(--pad) 0 var(--mid2);
}
