main {
  display: grid;
  grid-template-columns: auto;
  gap: 1em;

  margin: 1em;
}

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.preview {
  width: 200px;
  aspect-ratio: 1/1;
}
