@use "./timeline.scss";
.profile {
  display: grid;
  grid-template-columns: auto 1fr;

  margin: auto;

  background-color: var(--bkg);

  div.icon-wrapper {
    margin: auto var(--mgn);

    width: var(--iconwid);
    aspect-ratio: 1 / 1;
    padding: var(--rad);
    border-radius: 100%;

    background-color: var(--bkg);
    border: var(--bdr);

    position: relative;
    display: flex;

    img.icon {
      clip-path: circle(50%);
      width: var(--iconwid);
    }
  }
  div.bio-wrapper {
    h1 {
      font-size: 1.5rem;
      font-weight: 600;

      width: fit-content;

      border-bottom: var(--bdr);
      padding-bottom: calc(var(--mgn) / 2);
    }

    button + button {
      margin-left: calc(var(--mgn) / 2);
    }
  }
}

.dolor::before,
.sitamet::before {
  @include timeline.google-font-icon();
  border-right: var(--bdr);

  --_r: 0.6em;

  margin-right: var(--_r);
  padding-right: calc(var(--_r) - 0.1em);
}
.dolor::before {
  content: "\e145";
}
.sitamet::before {
  content: "\e163";
}
