#header-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 20rem) auto;

  #header:hover {
    min-width: fit-content;
    z-index: 9;
  }

  #header {
    position: sticky;
    top: 0;
    background-color: var(--bkg);

    height: 100vh;
    overflow: auto;

    border-right: var(--bdr);

    header {
      padding: calc(var(--mgn) / 2) 0px;

      ul,
      li {
        list-style: none;
        padding: 0px;
        margin: 0;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr;

        h1,
        p {
          margin: calc(var(--mgn) / 8) 0;
          font-size: 1rem;
          padding: 0;
        }
        p {
          a {
            color: var(--grey);

            border-radius: 0;

            display: block;
            transition-property: background-color;
          }
          a:hover {
            color: inherit;
            text-decoration: underline;
            background-color: var(--lightgrey);
          }
        }

        h1,
        a {
          padding: calc(var(--mgn) / 2);
        }
        a {
          text-indent: 1em;
        }

        h1 {
          border-bottom: var(--bdr);
        }
      }
    }
  }
}

.logo {
  font-family: "Homemade Apple", cursive;
  font-size: 1.5rem;

  width: fit-content;

  background: linear-gradient(90deg, hotpink, dodgerblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  padding-left: 0.4em;
  padding-right: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  margin: auto;
}
