@use "./timeline.scss";

div.loginform-wrapper:has(dialog[open]) {
  --span-mgn: var(--icon-cir);

  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: 10;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  dialog {
    border: none;
    border-radius: var(--rad);
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;

    padding: var(--mgn) calc(var(--mgn) * 2.5);
  }

  ul,
  li {
    list-style: none;
    padding: var(--span-mgn) 0;
    margin: 0;
  }

  h1 {
    width: fit-content;
    margin: auto;

    font-size: 1.5rem;
  }

  span {
    display: inline-block;
    margin-right: var(--span-mgn);
  }
  p > a {
    margin-left: var(--span-mgn);
  }

  input {
    @include timeline.text-input();
  }
  input:focus {
    @include timeline.text-input-focus();
  }

  button[type="submit"] {
    display: block;
    margin: auto;
  }

  .continue {
    display: block;
    width: 100%;

    text-align: center;
  }

  span.close {
    margin: 0;
    padding: 0;
  }

  button:has(span.close) {
    @include timeline.icon-button();
  }
  button:has(span.close):hover {
    @include timeline.icon-button-hover();
  }
}

// top ul
ul.loginform-ul > li + li {
  border-top: var(--bdr);
}
ul.loginform-ul > li:has(.close) {
  border: none;
  padding: 0;
  margin: 0;

  position: absolute;
  top: var(--span-mgn);
  right: var(--span-mgn);
}

label.email::before,
label.password::before {
  @include timeline.google-font-icon();

  font-size: var(--_r);
  margin-right: calc(var(--_r) / 3);
}
label.email::before {
  content: "\e158"; // mail
}
label.password::before {
  content: "\e73c"; // key
}
