@use "./timeline.scss";

div#navbar {
  margin-bottom: var(--mgn);
  padding: var(--pad);
  position: sticky;
  top: 0;

  background-color: var(--bkg);
  border-bottom: var(--bdr);

  z-index: 7;

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      display: grid;
      grid-template-columns: 1fr auto auto;

      li {
        width: fit-content;
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        position: relative;

        form[role="search"] {
          div.search-wrapper {
            display: block;
            margin: auto;

            width: fit-content;

            input[type="search"] {
              // width: calc(100% - 10rem);
              width: 50vw;
              @include timeline.text-input();
            }

            input[name="search"]:focus {
              @include timeline.text-input-focus();
            }

            button.search {
              background-color: transparent;
              border-radius: 100%;
            }
          }
        }
        .login {
          background-color: inherit;
          border: var(--bdr);

          color: inherit;

          transition-property: background-color;
        }

        .login:hover {
          background-color: var(--lightgrey);
        }

        .login:active {
          background-color: inherit;
        }
      }

      li:has(.nav) + li:has(.nav) {
        margin-left: calc(var(--mgn) / 2);
      }

      li:has(input) {
        width: 100%;
      }
    }
  }
}
