div.main-welcome-wrap {
  margin: 0;
  width: fit-content;

  text-align: center;

  div.main-welcome {
    background: linear-gradient(90deg, var(--lightest), var(--yellow));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    align-items: baseline;

    span.main-welcome-letter {
      margin: 0;
      transition: font-size 0.5s;
    }

    span.main-welcome-letter:hover {
      font-size: 110%;
    }
  }
}

// div:has(div.main-welcome-wrap),
div.welcome {
  --lh: 10rem;
  min-height: var(--lh);

  margin: 0;
  padding: var(--pdn);

  background-color: var(--darkest);

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}
